/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Basic styling for the vertical-align-container */
.vertical-align-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Make the container cover the entire viewport height */
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #FFDAB9; /* Soft Peach */
    line-height: 1.5;
}

header {
    text-align: center;
    background-color: #333;
    background-color: #FFDAB9; /* Soft Peach */
    padding: 20px;
}

header h1 {
    font-size: 2em;
}

header p {
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Change text color for navigation links to white */
.nav-links a {
    text-decoration: none;
    color: #ffffff; /* White color */
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFDAB9; /* Soft Peach */
}

main h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

article {
    margin-bottom: 20px;
}

article h3 {
    font-size: 1.2em;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Responsive Navigation Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    font-size: 1.5em;
}

/* Mobile Menu Toggle Styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }

    .nav-links.show {
        display: flex;
    }
}
