/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background:#FFDAB9;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

div.fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 30px;
	border: 3px solid #73AD21;
}

#logo {
    /*
	position: absolute;
  	top: 2px;
	right: 2px;
	max-width: 5%;
    */
	text-align: center;
}

h1 {

	font-family: acumin-pro-extra-condensed, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2.5em;
    margin: 30px auto 20px auto;
    color: rgb(0, 0, 0);
    text-align: center;
}

h2 {
	font-family: acumin-pro-semi-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5em;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    padding: 10px 0px;
    margin: 0px auto 10px auto;
    margin-left: 60px;
}

p {
	font-family: 'Zen Loop';
	font-size: 1.7em;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}

nav {
	font-family: acumin-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.4em;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 0em; 
}  
  
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.with-bullets {
    list-style: disc; /* You can use 'circle' or 'square' for different bullet styles */
    margin-left: 100px; /* Adjust the left margin to control the space between bullet points and text */
}

nav li{

	float: left;
}

nav a{
	display: block;
	color: black;
	text-align: center;
	padding: 15px 56.75px;
	text-decoration: none;
	font-weight: bold;
    background: #5f5e5e;
}

a:hover {
	color: white;
}

/*#FFDAB9; /* Soft Peach */